@import "../../styles/bh-common.css";

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.footer-wrapper .columns{
  display: flex;
  align-items: flex-end;
  gap: 22.813rem;

}

@media screen and (max-width: 767px) {
  .footer-wrapper .columns{
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;

}

}

.footer-wrapper .columns div div p .icon{
    width: 201px;
    height: 59px;

}
