.section.faq-accordion{
    margin-top: 80px;
    max-width: 1440px;
}

.section.faq-accordion >div{
    max-width: 1440px;
    width: 100%;
}

.section.faq-accordion .default-content-wrapper{
    text-align: center;
}

.section.faq-accordion .default-content-wrapper h2{
    color: #323232;
    font-family: BioRhyme;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.192px;
}

.section.faq-accordion .accordion-wrapper{
    margin-top: 70px;
}

.section.faq-accordion .accordion-wrapper .accordion .accordion-item{
    padding: 37px 17px 37px 24px;
    border: unset;
    border-bottom: 1px solid rgba(105, 105, 105, 0.2);
    margin: unset;
}

.section.faq-accordion .accordion-wrapper .accordion details summary:focus,
.section.faq-accordion .accordion-wrapper .accordion details summary:hover,
.section.faq-accordion .accordion-wrapper .accordion details summary{
    background-color: unset;
    border: unset;
    padding: unset;
}

.section.faq-accordion .accordion-wrapper .accordion details .accordion-item-body{
    border: unset;
    padding: unset;
}

.section.faq-accordion .accordion-wrapper .accordion details .accordion-item-body p{
    color: #323232;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    margin-top: 16px;
    display: inline-block;
}


@media screen and (max-width: 768px) {
    .section.faq-accordion .accordion-wrapper .accordion .accordion-item{
        padding: 20px 0;
    }
}