.section.filter-addititon {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}

.section.filter-addititon .teaser-wrapper {
    max-width: 100%;
    padding-bottom: 30px;
}

.section.filter-addititon .teaser-wrapper .teaser {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 24px;
    padding: 20px;
    background: #f5f4ef;
    border-radius: 10px;
}

.section.filter-addititon .teaser-wrapper .teaser>div:first-child>div picture img {
    width: 56px;
    height: 56px;
}

.section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2){
    overflow: hidden;
}

.section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 31px;
}

.section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div h2 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    color: #000;
    max-width: 210px;
}

.section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div ul {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div ul li a {
    min-height: 34px;
    padding: 0 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCCCCCCC;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    background: #fff;
    color: #2f2f2f;
    white-space: nowrap;
}

@media screen and (max-width: 992px) {

    .section.filter-addititon {
        position: sticky;
        top: 40px;
        z-index: 99;
        padding: unset;
    }

    .section.filter-addititon .teaser-wrapper .teaser{
        gap: unset;
    }

    .section.filter-addititon .teaser-wrapper .teaser>div:first-child>div picture img{
        display: none;
    }

    .section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div{
        flex-direction: column;
        align-items: start;
        gap: 16px;
        border-radius: unset;
        padding-right: unset;
    }

    .section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div h2{
        max-width: 100%;
        font-size: 16px;
        line-height: 23px;
    }

    .section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div ul{
        overflow-x: scroll;
        max-width: 992px;
        width: 100%;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .section.filter-addititon .teaser-wrapper .teaser>div:nth-child(2)>div ul::-webkit-scrollbar{
        height: 2px;
        width: 2px;
        background: rgb(0, 0, 0, 0.2);
    }
    
}
