.section.paragraph-text .default-content-wrapper h2{
    font-size: 24px;
    font-weight: 700;
    color: #323232;
}

.section.paragraph-text .default-content-wrapper p{
    color: #26282b;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 18px;

}

.section.paragraph-text .default-content-wrapper ol{
    padding-left: 20px;
    color: #26282b;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;    
    margin-bottom: 16px;

}

.section.paragraph-text .default-content-wrapper ol li{
    list-style: decimal;
}

@media screen and (max-width:575px) {
    .section.paragraph-text .default-content-wrapper p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .section.paragraph-text .default-content-wrapper ol{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }
}